<header>
    <nav>
        <h1>Nexus<span>Gaming</span></h1>

        <input type="text" placeholder="Buscar producto ..." />

        <a href="">Cotiza tu PC Gamer</a>
    </nav>
</header>

<style>
    header {
        background-color: red;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    input {
        width: 400px;
    }
</style>
